# Default ignored files
/shelf/
/workspace.xml
/.idea/
/target/classes/application.properties
/target/classes/com/firmable/aisearch/controller/AutosuggestController.class
/target/classes/com/firmable/aisearch/service/AutosuggestService$AutosuggestResponse.class
/target/classes/com/firmable/aisearch/service/AutosuggestService$Suggestion.class
/target/classes/com/firmable/aisearch/service/AutosuggestService.class
/target/classes/com/firmable/aisearch/model/ComprehensiveSearchResponse$PaginationInfo.class
/target/classes/com/firmable/aisearch/model/ComprehensiveSearchResponse$QueryInfo.class
/target/classes/com/firmable/aisearch/model/ComprehensiveSearchResponse$SearchMetadata.class
/target/classes/com/firmable/aisearch/model/ComprehensiveSearchResponse.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/classes/com/firmable/aisearch/FirmableAiSearchApplication.class
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/classes/com/firmable/aisearch/service/QueryUnderstandingService$ParsedQuery.class
/target/classes/com/firmable/aisearch/service/QueryUnderstandingService.class
/target/classes/com/firmable/aisearch/controller/SearchController$ComprehensiveSearchRequest.class
/target/classes/com/firmable/aisearch/controller/SearchController.class
/target/classes/com/firmable/aisearch/model/SearchResponse.class
/target/classes/com/firmable/aisearch/model/SearchResult.class
/target/classes/com/firmable/aisearch/service/SearchService.class
/target/classes/com/firmable/aisearch/service/SemanticSearchService.class
